GET localhost:8080/getcities 
    get all cities

POST localhost:8080/addcity
{
	"id": 3,
	"cityname":"Delhi"
}
add city name

POST localhost:8080/addcity
{
	"id": 0,
	"cityname":"Delhi"
}
 update city name by using 0 id

GET localhost:8080/getcity/Delhi
    Get city by name


DELETE localhost:8080/deletecity/Delhi
    Delete city by name