GET localhost:8080/getcities 
    get all cities

POST localhost:8080/addcity
{
	"id": 3,
	"cityname":"Delhi"
}
add cityModel name

POST localhost:8080/addcity
{
	"id": 0,
	"cityname":"Delhi"
}
 update cityModel name by using 0 id

GET localhost:8080/getcity/Delhi
    Get cityModel by name


DELETE localhost:8080/deletecity/Delhi
    Delete cityModel by name